.clients-section {
  background-color: #f1f0f0;
  padding: 4rem 0;
}

.section-title-clients {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 4rem;
  color: #00102d;
}

.scroll-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scroll-content {
  display: flex;
  gap: 3rem;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.clients img {
  width: 90px;
  height: auto;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}



.clients {
  flex: 0 0 auto;
}

/* Responsivo */
@media (max-width: 768px) {
  .clients img {
    width: 70px;
  }
}
