.clients img {
    width: 150px;
    height: 150px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f1f0f0;
}

.scroll-container {
    width: 100%; /* Adjust width as needed */
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    text-align: center;
}

.section-title {
    margin-bottom: 1rem; 
}

.scroll-content {
    display: flex;
    animation: scroll 10s linear infinite;
    align-items: center; 
    justify-content: center;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.clients {
    flex: 0 0 auto;
    padding: 0 20px;
}

