.about-section {
  margin-top: 12rem;
  font-family: 'Yantramanav', sans-serif;
  background-color: #091d3e;
}

.section-title-about {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  z-index: 1;
  padding-bottom:6rem !important;
  padding-top: 4rem !important;
  font-size: 2.8rem;
}

.about-card {
  background-color: #f9f9f9;
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 3rem;
}

.about-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.about-image-wrapper {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.about-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.about-card .card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about-card .card-text {
  font-size: 0.9rem;
  padding: 0 1rem;
  color: #555;
  line-height: 1.6;
}

/* Responsivo */
@media (max-width: 768px) {
  .section-title-about {
    font-size: 2rem;
    text-align: center;
    margin-bottom: -4rem;
  }

  .about-section {
    padding: 2rem;
    margin-top: 2rem;
  }
  .about-card-container {
    margin-top: 5rem; /* mais espaço entre cards */
  }

}