@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

div.footer-content.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: 'Yantramanav', sans-serif;
}

.footer-content {
    background-color: #00102d;
    color: white;
    
}

.footer-description {
    font-size: 1.1rem;
}

.FootersocialMedia a li {
    font-size: 24px;
}

ul.FootersocialMedia {
    display: flex;
}

 ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    
}

a {
    text-decoration: none;
    color: white;
}

.footer-content h6 {
    padding-left: 2rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}


@media (max-width: 767px) {
    .footer-description, ul li {
        font-size: 1rem;
    }
    
}
