@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

.containerForm {
    color: white;
    background: linear-gradient(90deg, #00102d 0%, #0059fc 56%);
} 

/* Ajustes para o texto */
.left-side {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}


/* Ajustes para o formulário */
.right-side1 {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* .bg {
    background-image: url('/images/bgcontactform.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
} */

/* Centraliza o conteúdo da seção em colunas verticais */
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}



/* Melhorar visibilidade do texto em ecrãs pequenos */
@media (max-width: 767px) {
    .left-side {
        padding: 0 1rem;
    }
}
