@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


.how-to-container {
    font-family: 'Yantramanav', sans-serif;
}

.img-how-to3 {
    height: 128px;
    width: 101px;
}

.container-how-to {
    padding-bottom: 45px;
    font-family: 'Yantramanav', sans-serif;
}

.card-how-to {
    min-width: 300px;
}



svg.bi.bi-chevron-right {
    border: 1px dotted black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(167, 167, 165);
}